/* initial settings */
:root {
  /* Variables to be used for all sections */
  --first-bg-color: black;
  --second-bg-color: #0047ab;
  --text-color: white;
  /* --main-font: ; */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* styles for body elements*/

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--first-bg-color);
}

.nav-left {
  padding: 0.2rem 0.8rem;
  margin: 0.8rem;
  background-color: white;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: end;
  list-style: none;
}

.nav-item {
  padding: 0.2rem 0.8rem;
  margin: 0.8rem;
  background-color: white;
}

.nav-item a, .nav-left a {
  text-decoration: none;
  color: var(--first-bg-color);

/* add responsiveness for smaller screens */
@media (max-width: 600px) {
}
